name: Deploy Backend to Render

on:
  workflow_run:
    workflows: ["Build and Push Backend to GHCR"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Install Railway CLI
        run: npm install -g @railway/cli

      - name: Deploy to Railway
        run: railway redeploy --service cicd -y
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}

